#main{
    display:flex;
    flex-direction: column;
    height: 100vh;
}
#container{
    display: grid;
    height: 90vh;
    grid-template-columns: repeat(6,auto);
    row-gap:1vh;
    column-gap: 1vw;

}
.container-fluid{
    display: flex;
}
label{
    font-size: clamp(10px,4vw,20px);
    font-weight: 500;
    margin-right: 4%;
    margin-top: 3vh;
}
.form-control{
    border: 2px solid black;
    margin-top: 3vh;
}
.card {
    width:15.5vw ; 
    height: 28vh; /* Set a fixed height for the card */
    border: none; /* Remove border */
}

.card-body{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 1s; 
    transform-style: preserve-3d; 
    border: 1px solid black;
    border-radius: 4%;
    box-shadow: 0 0 20px black;
}
.card-front{
    position: fixed;
    display: grid;
    margin: 4%;
    border: 1px solid black;
    padding-top:9.5vh;
    padding-bottom: 9.5vh;
    padding-left:5.5vw ;
    padding-right: 5.5vw;
    border-radius: 5%;
    background-color: yellow;
    box-shadow: 0 0 20px wheat;
}
.card-back{
    font-size: 400%;
}
.card.flipped .card-body {
    transform: rotateY(180deg); 
}
.card-front, .card-back {
    backface-visibility: hidden; 
}
.card-back {
    transform: rotateY(180deg); 
}
@media only screen and (max-width:900px){
    #container{
        grid-template-columns: repeat(6,auto);
    }
    .card{
        height:29vh;
        width:15.166vw ; 
    }
    .card-front{
        position: fixed;
        display: grid;
        margin: 4%;
        border: 1px solid black;
        padding-top:10vh;
        padding-bottom:10vh;
        padding-left:5vw ;
        padding-right: 5vw;
        border-radius: 5%;
        background-color: yellow;
        box-shadow: 0 0 20px wheat;
    }
    .card-back{
        font-size: 200%;
    }
}
@media only screen and (max-width:678px){
    #container{
        grid-template-columns: repeat(3,auto);
    }
    .card{
        height: 13.5vh;
        width:31vw ; 
    }
    .card-front{
        position: fixed;
        display: grid;
        margin: 4%;
        border: 1px solid black;
        padding-top:3vh;
        padding-bottom:3vh;
        padding-left:10vw ;
        padding-right: 10vw;
        border-radius: 5%;
        background-color: yellow;
        box-shadow: 0 0 20px wheat;
    }
    .card-back{
        font-size: 130%;
    }
}